<div class="help-modal modal-background">
  <div class="modal-foreground">
    <%= image_tag("close.svg", class: "modal-close link") %>
    <h2>Instructions</h2>

    <ul>
      <li>
        Click on a <strong>color square</strong>
        or on a <strong>word in the code preview</strong>
        to select a color to change.
      </li>
      <li>
        Click or drag on the <strong>color palette</strong> to change the color.
      </li>
      <li>
        <strong>Scroll up and down</strong> on the color palette
        to change the saturation.
      </li>
      <li>
        Click on the <strong>color input element</strong> below the palette
        for a system color chooser.
      </li>
      <li>
        At any time, <strong>copy the URL</strong>
        to share your current color scheme.
      </li>
      <li>
        <strong>Click "Download"</strong> for color scheme configuration files
        for many popular programs.
      </li>
    </ul>
  </div>
</div>
