<pre class="preview bg-base00 fg-base06">
<span class="fg-base0E">require</span> <span class="fg-base0B">"gem"</span>

<span class="fg-base08">string</span> = <span class="fg-base0B">"fg-base16"</span>
<span class="fg-base08">symbol</span> = <span class="fg-base0B">:fg-base16</span>
<span class="fg-base08">fixnum</span> = <span class="fg-base09">0</span>
<span class="fg-base08">float</span>  = <span class="fg-base09">0.00</span>
<span class="fg-base08">array</span>  = <span class="fg-base0A">Array</span>.<span class="fg-base0D">new</span>
<span class="fg-base08">array</span>  = [<span class="fg-base0B">'chris'</span>, <span class="fg-base09">85</span>]
<span class="fg-base08">hash</span>   = {<span class="fg-base0B">"test"</span> =&gt; <span class="fg-base0B">"test"</span>}
<span class="fg-base08">regexp</span> = <span class="fg-base0C">/[abc]/</span>

<span class="fg-base03"># This is a comment</span>
<span class="fg-base0E">class</span> <span class="fg-base0A">Person</span>
  <span class="fg-base0D">attr_accessor</span> <span class="fg-base0B">:name</span>

  <span class="fg-base0E">def</span> <span class="fg-base0D">initialize</span>(<span class="fg-base08">attributes</span> = {})
    <span class="fg-base08">@name</span> = <span class="fg-base08">attributes</span>[<span class="fg-base0B">:name</span>]
  <span class="fg-base0E">end</span>

  <span class="fg-base0E">def</span> <span class="fg-base0E">self</span>.<span class="fg-base0D">greet</span>
    <span class="fg-base02-background"><span class="fg-base0B">"hello"</span></span>
  <span class="fg-base0E">end</span>
<span class="fg-base0E">end</span>

<span class="fg-base08">person1</span> = <span class="fg-base0A">Person</span>.<span class="fg-base0D">new</span>(<span class="fg-base0B">:name</span> =&gt; <span class="fg-base0B">"Chris"</span>)
<span class="fg-base0D">print</span> <span class="fg-base0A">Person</span>::<span class="fg-base0D">greet</span>, <span class="fg-base0B">" "</span>, <span class="fg-base08">person1</span>.<span class="fg-base0D">name</span>, <span class="fg-base0B">"<span class="fg-base09">\n</span>"</span>
<span class="fg-base0D">puts</span> <span class="fg-base0B">"another </span><span class="fg-base0F">#{</span><span class="fg-base0A">Person</span>::<span class="fg-base0D">greet</span><span class="fg-base0F">}</span> <span class="fg-base0F">#{</span><span class="fg-base08">person1</span>.<span class="fg-base0D">name</span><span class="fg-base0F">}</span><span class="fg-base0B">"</span>
</pre>
