<div class="selection">
  <div class="colors">
    <% 8.times do |color| %>
      <div class="color">
      </div>
    <% end %>
  </div>

  <div class="pallete">
  </div>

  <!-- options for language -
    javascript
    ruby
    python
    c++
    java
    haskel
  -->
  <div class="preview">
  </div>
</div>

<div class="actions">
  <button class="copy">Copy</button>

<!-- options for editor types -
  command line
  sublime text
  vim (neovim?)
  emacs

  # can use the chriskempson/base16 project
  # as a basis for generating different color configuration files
-->
  <button class="download">Download</button>
</div>
