$color-count: 16;
$color-column-count: 2;
$color-row-count: $color-count / $color-column-count;
$color-size: 4em;
$color-column-width: $color-column-count * $color-size + ($color-column-count - 1) * $base-spacing;
$color-column-height: $color-row-count * $color-size + ($color-row-count - 1) * $base-spacing;

.colors {
  flex: 0 0 $color-column-width;
  align-items: center;
  display: flex;
  justify-content: center;

  flex-flow: column wrap;

  align-content: flex-start;
  justify-content: space-between;
  align-content: space-between;
  height: $color-column-height;
}

.color {
  height: $color-size;
  margin-bottom: $base-spacing;
  width: $color-size;

  &:nth-child(8n) {
    margin-bottom: 0;
  }

  &.active {
    border: 6px solid black;
  }
}
