.colors {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
}

.color-column {
  // Flex settings as a child element
  flex: 0 1 40%;

  // Flex settings as a parent element
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.color {
  flex: 0 1 10%;
  width: 100%;
  cursor: pointer;

  &.active {
    border: 6px solid black;
  }
}

.preview span {
  cursor: pointer;
}
