.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.selection {
  display: flex;
  flex: 0;
  margin: $base-spacing;
}

.preview {
  flex: 1;
  background-color: #000;
  margin: 0;
  margin-left: $base-spacing;
  padding: $base-spacing;
}

.palette {
  flex: 1;
  background-color: #000;
  margin-right: $base-spacing;
}



/* Default colors. Will be overwritten by colorscheme */

.preview {
  color: #e0e0e0;
}
