.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.selection {
  display: flex;
  flex: 0;
  margin: $base-spacing;
}

.preview {
  flex: 1;
  margin: 0;
  margin-left: $base-spacing;
  padding: $base-spacing;
}

.palette {
  flex: 1;
  margin-right: $base-spacing;
}
