.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.selection {
  height: 90vh;
  display: flex;
  flex: 0;
  margin: $base-spacing;
}

.preview {
  flex: 1;
  margin: 0;
  margin-left: $base-spacing;
  padding: $base-spacing;
}

.palette {
  flex: 1;
  margin-right: $base-spacing;

  display: flex;
  flex-direction: column;

  canvas {
    flex-grow: 1;
    width: 100%;
    margin-bottom: $base-spacing;
  }

  input {
    flex-grow: 0;
    height: $base-spacing * 2;
  }
}

.actions {
  height: $base-spacing * 2;
  left: 0;
  right: 0;

  .download {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
